/*css index*/
.index-logoBCI{
	width: 40%;
	height: auto;
}
.texto-appsegura{
	padding-top: 40%;
}
.texto-appsegura p{
	margin: 0;
	text-align: right;
	color: rgb(0, 142, 50);
}
.index-candado{
	width: 20%;
	height: auto;
}
.texto-bienvenido span{
	font-weight: bold;
}
/*fin css index*/
.fondo {
	background-color:#EDEDED;
	height: 800px;
}
